<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Update Credentials</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive meta tag -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'imgs/favicon.jpg' %}" type="image/jpeg">
</head>
<body>
    <div class="header_box">
        <small>RoomBot</small>
        <h1>Update Invalid Credentials</h1>
        <a href="/" class="md-button md-primary">Home</a>
    </div>
    <div class="reservations-container">
        <div class="box">
            <form method="post">
                {% csrf_token %}
                <label for="nid">Select User (NID):</label>
                <select name="nid" id="nid" required>
                    {% for user in invalid_users %}
                        <option value="{{ user.NID }}"> ({{ user.NID }})</option>
                    {% endfor %}
                </select>
                <small>Only invalid users are listed</small>

                <br><br>
                <label for="ucfid">Verify UCFID:</label>
                <input type="text" name="ucfid" id="ucfid" required>
                <br><br>
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" required>
                <br><br>
                <button type="submit">Update</button>
            </form>

            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
